#client{
    min-height: 50vh;
    width: 100vw;
    max-width: 100rem;
    margin: 0 auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.clientsTiltle{
    margin: 1rem 0;
    font-size: 3rem;
}

.clientsDesc {
    width: 250rem; 
    font-weight: 400;
    font-size: 1.2rem;
    max-width: 100rem;
    /* text-align: left; */
    padding-bottom: 2rem;
    padding-top: 0.5rem;
}

.clientsImgs {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.clientsImg{
    background: white;
    object-fit: cover;
    width: 8rem;
    height: 8rem; 
    min-width: 20rem;
    margin: auto;
    padding: 1rem;
    
    
}